admin_email = "simonso@foobar.org"

organization_id = 123456789012

billing_account = "000000-000000-000000"

credentials_path = "./credentials.json"

project_group_name = "sso-cft-pf-demo-host-project-owners"

project_group_owner = "simonso@foobar.org"
